@page
@model ListModel
@{
}
<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm"/>
            <span class="input-group-button">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search">Submit</i>
                </button>
                
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var r in Model.Restaurants)
    {
    <tr>
        <td>@r.Name</td>
        <td>@r.Location</td>
        <td>@r.Cusine</td>
        <td>
            <a class="btn btn-lg" asp-page="./Detail"
               asp-route-restaurantId="@r.Id">detail</a>
        </td>
        <td>
            <a class="btn btn-lg" asp-page="./Edit"
               asp-route-restaurantId="@r.Id">edit</a>
        </td>
    </tr>
    }

</table>
<a asp-page="./Edit">Add New</a>
<div>Hello @Model.Message</div>


